.intro{
    background-color:#1affa3;
    height: 500px;
    width : 900px;
    font-size:69px;
    font-style: bold;
    font-family: 'Syne Mono', monospace;
    color:#ffffff;
    margin-left: 50px;
    
}
.services{
    background-color:#1affa3;
    height: 200px;
    width : 900px;
    font-size:40px;
    font-style: bold;
    font-family: 'Syne Mono', monospace;
    color:#ffffff;
    margin-left: 50px;
  
}