body{
    background: #ffffff;
}

.intro{
    
    background-color:#1affa3;
    height: 500px;
    font-size:69px;
    font-style: bold;
    font-family: 'Syne Mono', monospace;
    color:#ffffff;
    border-radius: 20px;
    box-shadow:3px 6px 5px  #b3cccc;
}
.services{
    background-color:#1affa3;
    height: 500px;
    font-size:40px;
    font-style: bold;
    font-family: 'Syne Mono', monospace;
    color:#ffffff;
    border-radius: 20px;
    box-shadow:3px 6px 5px  #b3cccc;
}
.nav{
    font-size: 29px;
    height: 90px;
    color: #1affa3;
    font-family: 'Syne Mono', monospace;
    
}
.hov:hover{
    background:#1affa3;
    color:#ffffff;
    border-radius: 7px;
}

.row{
    display:flex;
    width:100%;
}
.row::after{
    display:block;
    clear:both;
    content:"";
}
.col-1{width:60%;}
.col-2{width:40%;}
.col-3{width:25%;}
.col-4{width:10%;}
.col-6{width:60%;}


[class*=col]{
    margin:10px;
    float:left;
    
}
.col-5{width:70%;}
*{ box-sizing:border-box;}


.cards{
    background-color:#1affa3;
    height: 200px;
    font-size:30px;
    font-style: bold;
    font-family: 'Syne Mono', monospace;
    color:#ffffff;
    border-radius: 20px;
    margin:10px 7px;
    box-shadow:3px 6px 5px  #b3cccc;
}
.cards:hover{
    opacity: 0.8;
}
.card_items{
    margin:50px;
    padding:5pxx;
}
.cards_box{
    overflow:auto;
}
.cards_box::-webkit-scrollbar{
    display: none;
}

.image{margin:0px 15px 5px 0px;}

img{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    float:right;
    
}
.bottom{
    background-color:#1affa3;
    height: 300px;
    margin: 10px;
    font-size:40px;
    font-style: bold;
    font-family: 'Syne Mono', monospace;
    color:#ffffff;
    border-radius: 20px;
}

.fa { 
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    
}
.fa-facebook:hover{
    background-color: #4267B2;
    color: #fff;
}
.fa-twitter:hover{
    background-color: #1DA1F2;
    color: #fff;
}
.fa-instagram:hover{
    background-color: #cd486b;
    color: #fff;
}
.fa-youtube:hover{
    background-color: #FF0000;
    color: #fff;
}
.fa-linkedin:hover{
    background-color: #0e76a8;
    color: #fff;
}
.fa:active{
    opacity: 0.6;
}
.fa-facebook{
    color: white;
}
.fa-twitter{
    color: white;
}
.fa-linkedin{
    
    color:white;
}
.fa-instagram{
    color: white;
}
.fa-youtube{
    color: white;
}
.cards_main{
    margin: 0px 10px;
}

/*############## Mobile ###############*/
@media screen and (max-width:800px)
{
    div.top.row{
        flex-wrap:wrap;
    }
    .intro , .services{
        font-size: 50px;
    }
    .col-1,
    .col-2{
        width:100%;
    }
    .cards{
        
        height:10%;
        font-size:80%;
      
    }
    div.nav[class="col-"]{
        display: none;

    }
}