body{
    background: #ffffff;
}

.intro{
    background-color:#1affa3;
    height: 500px;
  
    font-size:69px;
    font-style: bold;
    font-family: 'Syne Mono', monospace;
    color:#ffffff;
    border-radius: 20px;
    
    
    
}
.services{
    background-color:#1affa3;
    height: 500px;
    
    font-size:40px;
    font-style: bold;
    font-family: 'Syne Mono', monospace;
    color:#ffffff;
    border-radius: 20px;
   
    
  
}
.nav{
    font-size: 29px;
    height: 90px;
    color: #1affa3;
    font-family: 'Syne Mono', monospace;
    
}
.hov:hover{
    background:#1affa3;
    color:#ffffff;
    border-radius: 7px;
}

.cards{
    background-color:#1affa3;
    height: 200px;
    font-size:20px;
    font-style: bold;
    font-family: 'Syne Mono', monospace;
    color:#ffffff;
    border-radius: 20px;
}
.row{
    display:flex;
    width:100%;
}
.row::after{
    display:block;
    clear:both;
    content:"";
}
.col-1{width:60%;}
.col-2{width:40%;}
.col-3{width:25%;}
.col-4{width:10%;}
.col-6{width:60%;}


[class*=col]{
    margin:10px;
    float:left;
}
.col-5{width:70%;}
*{ box-sizing:border-box;}

.image{margin:0px 15px 5px 0px;}

img{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    float:right;
    
}
.bottom{
    background-color:#1affa3;
    height: 300px;
    margin: 10px;
  
    font-size:40px;
    font-style: bold;
    font-family: 'Syne Mono', monospace;
    color:#ffffff;
    border-radius: 20px;
}

.fa{ 
    padding: 20px;
    font-size: 30px;
    width: 80px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    display: block;
    margin: auto;
}
.fa-facebook{

   
    color: white;
}
.fa-twitter{
    
    color: white;
}
.fa-linkedin{
    
    color: white;
}
.fa-instagram{
    
    color: white;
}
a{
    display: block;
    margin: auto;
}
.social_media{
    position: relative;
    bottom: 0px;
}