.intro{
    background-color:#66a3ff;
    height: 500px;
    width : 900px;
    font-size:69px;
    font-style: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:#ffffff;
    margin-left: 50px;
    
}
.services{
    background-color:#66a3ff;
    height: 200px;
    width : 900px;
    font-size:40px;
    font-style: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#ffffff;
    margin-left: 50px;
  
}